AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://host.docker.internal:4566
EVENT_BUS_NAME=sbcbank-dev-main-bus
PAYMENT_WORKFLOW_ARN=arn:aws:states:ap-southeast-1:000000000000:stateMachine:sbcbank-payment-workflow
MANUAL_REVIEW_QUEUE_URL=http://host.docker.internal:4566/000000000000/sbcbank-dev-transactions
LEDGER_TABLE_NAME=sbcbank-dev-ledger
STATEMENT_TABLE_NAME=sbcbank-dev-statement
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sbcbank
POSTGRES_USER=sbcbank
POSTGRES_PASSWORD=localpassword
DATABASE_URL=postgresql://sbcbank:localpassword@postgres:5432/sbcbank
REDIS_HOST=redis
REDIS_PORT=6379
